@import url("https://fonts.googleapis.com/css?family=Titillium+Web:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a {
    text-decoration: none;
    list-style: none;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family:"Titillium Web", sans-serif;
    color:#ccc;
    height:100%;
    width:100%;
    background-size:100% auto;
    background-image:url(../img/steamunlocked-bg.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    background-color:#1b1a20;
}

header {
    margin: 2rem 7rem 2rem 7rem;
    padding: 2rem 0;
}

header img {
    margin-bottom: 3rem;
}

.nav {
    border-radius: .3rem;
    background-color: red;
    background: url(../img/menu-background.webp)
}

.box {
    display: inline-block;
    padding: 2.2rem 1.4rem;
    color: white;
}

a {
    color: #f3f3f3;
    z-index: 200;
}

.nav-dentro {
    width: 90vw;
    height:70px;
    background:url(../img/menu-background.webp) top right repeat-x;
    background-size:cover;
    background-color: rgb(240, 23, 23);
    border-radius: .3rem;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.75), inset 0 -5px rgba(0, 0, 0, 0.26);
}

.nav-dentro .box:hover {
    color:#fff;
    background-color:rgba(0,0,0,.21)
}

/* main */

main .box {
    margin: 0 5rem;
    margin-top: 30rem;
    display: flex;
    flex-direction: column;
} 

main .box h1 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
    font-size: 6rem;
}

main .box input {
    border: none;
    width: 60rem;
    padding: 1rem;
    padding-bottom: 5rem;
    border-radius: .3rem;
}

main .box input::placeholder {
    font-size: 1.8rem
}

main .box button {
    font-family: "Titillium Web", sans-serif;
    width: 10rem;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #eb2d1c;
    border: none;
    border-radius: .3rem;
    color: white;
    font-size: 1.7rem;
}

footer {
    background-color: #080e14;
    padding: 4rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

footer p {
    width: 50rem;
    text-align: justify;
}

footer h4 {
    font-weight: 200;
    margin-top: 6rem;
}
